/*CSS-Reset up to and including line 51*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/*End of CSS-Reset*/

/*Declaration of standard colors for use in the whole App*/
:root {
  --bg-color: rgb(188, 223, 225);
  --accent-color: rgb(125, 189, 192);
  --highlight-color1: rgb(125, 189, 192);
  --highlight-color2: rgb(125, 189, 192);
}

body {
  width: 100vw;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 120px;
  padding-bottom: 120px;
}

main div {
  width: 300px;
  height: 229px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  flex-direction: column;
}
